/* ALL */

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text], textarea {
  box-shadow: 1px 4px;
}

textarea {
  padding: 7px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.genreSelect {
  background-color: #2BB34C;
  padding: 10px 5px;
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.words {
  padding-top: 5px;
}

/* HEADER */

header {
  background-color: #2BB34C;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
}

#signup, #login, #logout, .brainstorm, .genres {
  background: #70FF93;
}

input {
  outline: none;
}

#header {
  color: black;
  text-decoration: none;
  background-color:#70FF93;
}

.header {
  padding: 4px;
  margin: 3px;
  border-radius: 2px;
  box-shadow: 1px 4px;
}

input[type=text]:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(2px);
}

.header:active, .button:active, select:active, .saveButton:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.header:hover, .button:hover, .saveButton:hover {
  color: white;
}

@media screen and (min-width: 600px) {
  header {
    flex-direction: row;
  }
}

/* ALL PAGES */

section, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1, .small {
  max-width: 250px;
}

.App {
  border: 5px solid black;
}

.selectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 350px) {
  .selectBox {
    flex-direction: row;
  }
}

.select {
  height: 41px;
  width: 200px;
  text-align: center;
  text-align-last:center;
}

.brainstormPageButton {
  background-color: #2BB34C;
}

.button {
  background-color: #2BB34C;
  border: 1px solid black;
  color: black;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 1px 4px;
}

select, .genreSelect, .title {
  box-shadow: 1px 3px;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 0px 2px;
  border: 1px solid black;
}

p {
  font-size: 18px;
  margin: 20px 0px;
}

p {
  margin: 7px auto;
  max-width: 750px;
}

.title {
  max-width: 750px;
  text-decoration: none;
  background-color: #2BB34C;
  text-align: center;
  padding: 15px;
  margin: 30px;
}

.subtitle {
  margin-bottom: 50px;
}

/* MAIN PAGE */

.spotifyPic {
  height: 300px;
  width: auto;
}

.howTo {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.MainPage {
  padding: 5px 40px 40px 40px;
  margin: 10px;
  height: 100%;
  background: #70FF93;
}

/* LYRIC PAGE */

.lyrics {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.userLyrics {
  /*height: 200px;*/
  width: auto;
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 350px) {
  .inputBox {
    flex-direction: row;
  }
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userLyrics {
  height: 200px;
  width: 100%;
  min-width: 100px;
  padding: 0;
  margin-top: 20px;
}

.saveButton {
  min-width: 100px;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .userLyrics {
    min-width: 500px;
  }
  .saveButton {
    min-width: 500px;
  }
}

.textInput {
  height: 34px;
  text-align: center;
}

textarea {
  resize: none;
}

.saveButton {
  background-color: #2BB34C;
  border: none;
  color: black;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 1px 4px;
}

/* GENRE PAGE */

iframe {
  width: auto;
  height: 380px;
}

@media screen and (min-width: 400px) {
  iframe {
    width: 300px;
    height: 380px;
  }
}

.spotify {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LOGIN PAGE */

h2, h1 {
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginText {
  max-width: 300px;
  min-width: 200px;
  border: 1px solid black;
}

.loginTextTop {
  border-radius: 5px 5px 0 0;
  border: none;
  border: 1px solid black;
}

.loginTextBottom {
  border-radius: 0 0 5px 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.loginButton {
  border-radius: 5px;
  border: none;
}

button:disabled, button[disabled=disabled] {
  background-color: #cccccc;
}

/* SIGN UP PAGE */

.red {
  color: red;
}
